body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    
  }
  nav{
    text-align: right;
     background-color: green;
     font-size: 30px;
     font-weight: 300;
  
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
  }
  nav ul li a{
    text-decoration: none;
    color: white;
  }
  nav ul li a:hover{
    color:red;
  }
  /* top */
  .flexible{
    position: relative;
    width: auto;
    height: 650px;
    display: flex;
    text-decoration: none;
    background-color: lightgreen;
    box-shadow: 0px 4px royalblue;
    top: 20px;
     
  }
  
  
  .flexible h1{
    position: absolute;
    width: 485px;
    height: 230px;
    left: 156px;
    top: 207px;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #65e02c;
  }
  
  .flexible a{
    color: white;
    background-color:green;
    padding: 20px 20px ;
    border-radius: 5%
  }
  .flexible a:hover{
    color: khaki;
    display: flex;
  }
  .flexible img{
    position: absolute;
    width: 600px;
    height: 500px;
    left: 750.01px;
    top: 53px;
  }
  
  
  
  /* GRID */
  .top-players{
  
    width: auto;
    height: 500px;
    top: 20%;
    
  }
  .players{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-row-gap: 30px;
  }
  .player h2{
    font-size: bold;
  
    width: 300px;
    height: 26px
  }
  .player p{
    width: 300px;
    margin: 16px 6px;
    }
  .player img{
  width: 300px;
  height: 256px;
  margin: 16px 0px;
  border-radius: 20px;
  }
  
  
  
  
  .player{
  padding: 10px;
  position: relative;
  width: 300px;
  height: 500px;
  left: 40px;
  top: 77px;
  border-radius: 10%;
  background: #FFFFFF;
  box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.15);
  }
  
  
  /* After the grid portion */
  .container{
    display: flex;
    justify-content: space-between;
  }
 
  .watch{
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: absolute;
    width: 466px;
    height: 309px;
    left: 90px;
    top: 3148px;
  }
  .container img{
    position: absolute;
    width: 567px;
    height: 427px;
    left: 717px;
    top: 3148px; 
    
  }
  .watch h1{
    font-weight: bold;
  }
  .watch a{
    color: white;
    background-color: green;
    padding: 20px 20px ;
    border-radius: 5%
  }
  .fab{
    color: white;
    position: static;
    left: 27.06%;
    right: 54.12%;
    padding: 20px 20px;
    border-radius: 50%;
    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
    margin: 0px 14px;
    background: #969BAB;
  }
  
  .watch a:hover{
    color: red;
  }
  
  /* footer */
  .foot img{
    width: 430px;
  }
  .social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 483.87px;
    height: 218px;
    left: 475px;
    top: 3700px;
  }
  
  /* media queries */
  
  @media only screen and (max-width:688px){
    .container{
      width: 100%;
    }
    .player{
        flex-direction: column;
      }
  
    .players,.watch{
      background-color: #FFFFFF;
      grid-template-columns: repeat(1,1fr);
    }
   
  }